.drinks {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .wp-post-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
    max-width: 150px;
    width: 100%;

    @include media-breakpoint-up(md) {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }

  .drink {
    display: flex;
    border-bottom: 1px solid #807f7f;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      display: block;
      border-style: none;
      padding-bottom: 0;
    }

    .entry-header {
      display: flex;
      gap: 1rem;
    }
  }
}